.outputgrid {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.outputgriditem {
  width: 100%;
  text-align: center;
  margin: 0.5%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 1.2%;
  padding-right: 1.2%;
  border: 1px solid #f5ba13 !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 1.2rem;
}

.outputgridheading {
  color: #71e961;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  /* text-shadow: 0 1px 1px rgb(138, 137, 137); */
}
